p {
  border: 1px solid #ddd;
  padding: 10px;
  overflow: hidden;
}
p span.shape {
  width: 100px;
  height: 100px;
  float: left;
  padding: 30px;
  border: 1px;
  background-color: red;
  shape-outside: margin-box;
  clip-path: circle(50%);
  shape-outside: circle(50%);
}
