<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>

<body>
  <div id="app">
    <input type="text" v-model="field.title">
    <input type="radio" name="test" value="test" v-model="field.type">草稿
    <input type="radio" name="test" value="pro" v-model="field.type">正式
  </div>

  <script>
    const app = new Vue({
      el: "#app",
      data: {
        field: {
          type: 'test'
        }
      }
    });
  </script>
</body>

</html>