<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>

<body>
  <div id="app">
    <input type="number" v-model="n1"> +
    <input type="number" v-model="n2"> =
    <input type="number" v-model="sum">
  </div>

  <script>
    const app = new Vue({
      el: "#app",
      data: {
        n1: 0,
        n2: 1
      },
      computed: {
        sum() {
          return this.n1 + this.n2;
        }
      },
    });
  </script>
</body>

</html>